# Be sure to also fill out frontend/.env + backend/.env

# Docker information
POSTGRES_USER=postgres # If changed for local dev, be sure to update database url in backend/.env
POSTGRES_PASSWORD=postgres # If changed for local dev, be sure to update database url in backend/.env
POSTGRES_DB=mockstreet-db # If changed for local dev, be sure to update database url in backend/.env

ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000 # Set for prod / QA