$COOL_GREY: #F5F5F5;
$GREEN: #28A745;
$RED: #DC3545;
$DARK_BLUE: #002B5C;
$nav-height: 8dvh;

nav {
    background-color: $DARK_BLUE;

    &:not([show]) {
        min-height: $nav-height;
    }

    .nav-link {
        color: $COOL_GREY;

        &:hover {
            font-weight: bold;
            color: $COOL_GREY;
        }


    }
}

#homeRow {
    height: 100dvh - $nav-height;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.75) blur(2px);
    }
    
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 10px;
        color: $COOL_GREY;

        h1 {
            font-weight: bold;
        }

        p {
            font-weight: bold;
        }
    }
}