NODE_ENV=development # `production` for prod
PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/mockstreet-db
SESSION_SECRET=replace-me-with-a-long-random-string
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
EMAIL_USER=example@gmail.com
EMAIL_PASS=aaa bbb cccc dddd
FINNHUB_API_KEY=abcdef1234