$COOL_GREY: #F5F5F5;
$DARK_GREY: #2F3A47;
$GREEN: #28A745;
$RED: #DC3545;
$DARK_BLUE: #002B5C;
$LIGHT_BLUE: #CFE2FF;
$NAV_HEIGHT: 8dvh;

.error {
    color: $RED;
}

.success {
    color: $GREEN;
}

.btn-light-blue {
    background-color: $LIGHT_BLUE;
    color: $DARK_BLUE;

    &:hover {
        background-color: $LIGHT_BLUE;
        color: $DARK_BLUE;
        font-weight: bold;
    }
}

.btn-dark-blue {
    background-color: $DARK_BLUE;
    color: $COOL_GREY;

    &:hover {
        background-color: $DARK_BLUE;
        color: $COOL_GREY;
        font-weight: bold;
    }
}

.btn-dark-grey {
    background-color: $DARK_GREY;
    color: $COOL_GREY;

    &:hover {
        background-color: $DARK_GREY;
        color: $COOL_GREY;
        font-weight: bold;
    }
}